@import "base";

.panel {
  @include scrollbar;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.25em;
  overflow: hidden auto;

  .loadingWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .loadIcon {
      @include size(2em);
    }
  }
}
