@import "base";

.sidePanel {
  @include border(right, 0.1em);
  display: flex;
  flex-direction: column;
  flex: 1 0 10em;
  max-width: 20em;
  background-color: $bg-secondary;
  color: $text-secondary;
}
