$font-stack: "Quicksand", sans-serif;

$bg-primary: #2a292e;
$bg-secondary: #2e2d35;

$text-primary: #d5d5d8;
$text-secondary: #9d9da8;

$border-primary: #222229;
$border-secondary: #292830;

$hover-primary: #282830;
$hover-secondary: #303036;

$scrollbar-thumb-color: #32363f;

$error-primary: #581414e0;
$error-secondary: #991b1be0;

$focus-primary: #35323a;
$focus-secondary: #45434d;

@mixin primary-panel-flex {
  flex: 1 1 60%;
}

@mixin panel-padding {
  padding: 0.25em 1em;
}

@mixin border($side, $size, $color: $border-primary) {
  border-#{$side}: $size solid $color;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin scrollbar(
  $track-color: $border-primary,
  $thumb-color: $scrollbar-thumb-color
) {
  &::-webkit-scrollbar {
    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
  }

  &::-webkit-scrollbar-corner {
    background-color: $track-color;
  }
}

body {
  font-family: $font-stack;
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
}

input {
  border: 0.1em solid $border-primary;
  outline: none;
  background-color: $bg-secondary;
  color: $text-secondary;
  box-shadow: none;
  padding: 0.2em;

  &:focus {
    background-color: $focus-primary;
    border-color: $focus-secondary;
  }
}
