@import "base";

.errorModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1;
  z-index: 1;
  max-width: 25em;
  max-height: 10em;
  bottom: 1em;
  right: 1em;
  background-color: $error-primary;
  border: 1px solid $error-secondary;
  overflow: hidden;
}

.header {
  $header-padding: 0.25em;

  & {
    display: flex;
    padding: 0.1em 0 $header-padding $header-padding;
    font-size: 1.1em;
  }

  .context {
    padding-top: 0.1em;
    padding-bottom: $header-padding;
    flex: 1;
  }

  .closeIcon {
    @include size(1em);
    flex: 0;
    padding: $header-padding;
    color: $text-primary;
    cursor: pointer;
  }
}

.message {
  @include scrollbar($error-primary, $error-secondary);
  overflow: hidden auto;
  padding: 0.5em;
  word-break: break-all;
}
