@import "base";

.panel {
  @include primary-panel-flex;
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 1em;

    label {
      padding-bottom: 0.5em;
      white-space: nowrap;
      user-select: none;
    }

    input {
      font-size: 0.75em;
      margin-bottom: 2em;

      &:global(.error) {
        border-color: $error-secondary !important;
        outline: none;
      }
    }
  }
}
