@import "base";

$list-highlight-border-primary: #1d556b;
$list-highlight-duration: 250ms;
$list-selected-border-primary: #1d6b3e;
$list-hover-color: $hover-primary;
$list-item-padding: 0.6em 1em;
$list-border-size: 0.12em;
$list-border-side: left;

@mixin selectedItem($border-primary) {
  border-color: $border-primary;
  background-color: $list-hover-color;
}

@mixin genericList() {
  :global {
    .generic-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .list-item {
        @include border(
          left,
          $list-border-size,
          $list-highlight-border-primary
        );
        border-color: transparent;
        transition: background-color $list-highlight-duration ease-in-out,
          border-color $list-highlight-duration ease-in-out;

        padding: $list-item-padding;
        white-space: nowrap;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;

        &:hover:not(.item-selected) {
          @include selectedItem($list-highlight-border-primary);
        }

        .text {
          display: inline-block;
          transition-property: transform;
          transition-timing-function: ease-in-out;
          transition-duration: 500ms;

          &:hover {
            transition-timing-function: ease-out;
            transition-delay: 1000ms;
          }
        }
      }

      .item-selected {
        @include selectedItem($list-selected-border-primary);
      }
    }
  }
}
