@import "base";

$list-hover-duration: 250ms;
$list-hover-color: #3f5c6828;
$list-selected-border-color: #1d6b3e;
$list-selected-hover-color: #2e503d28;
$list-highlight-border-color: #797988;
$list-highlight-hover-color: #54545f28;
$list-item-padding: 0.6em 1em;
$list-border-size: 0.12em;
$list-border-side: left;

@mixin selectedItem($border-color, $bg-color) {
  border-color: $border-color;
  background-color: $bg-color;
}

@mixin genericList() {
  :global {
    .generic-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .list-item {
        @include border(left, $list-border-size, $dark-cyan);
        border-color: transparent;
        transition: background-color $list-hover-duration ease-in-out,
          border-color $list-hover-duration ease-in-out;

        padding: $list-item-padding;
        white-space: nowrap;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;

        &:hover:not(.item-selected) {
          @include selectedItem($dark-cyan, $list-hover-color);
        }

        .text {
          display: inline-block;
          transition-property: transform;
          transition-timing-function: ease-in-out;
          transition-duration: 500ms;

          &:hover {
            transition-timing-function: ease-out;
            transition-delay: 1000ms;
          }
        }
      }

      &.item-highlighted {
        @include selectedItem(
          $list-highlight-border-color,
          $list-highlight-hover-color
        );
      }

      &.item-selected {
        @include selectedItem(
          $list-selected-border-color,
          $list-selected-hover-color
        );
      }
    }
  }
}
