$font-stack: "Quicksand", sans-serif;

$bg-primary: #2a292e;
$bg-secondary: #2e2d35;

$text-primary: #d5d5d8;
$text-secondary: #9d9da8;

$border-color: #222229;
$hover-color: #282830;

@mixin panel-padding {
  padding: 0.25em 1em;
}

@mixin border($side, $size, $color: $border-color) {
  border-#{$side}: $size solid $color;
}

body {
  font-family: $font-stack;
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
}
