@import "base";

.panel {
  @include border(top, 0.15em);

  display: flex;
  flex-direction: column;
  transition: height 500ms ease-in-out;
  overflow: hidden;
  background-color: $bg-secondary;
}

.hidden {
  flex: 0;
}
