@import "base";
@import "GenericList/default";

$list-hover-color: $hover-secondary;

.panel {
  @include primary-panel-flex;
  @include genericList();

  display: flex;
  flex-direction: column;
  flex: 1 0 max-content;
  overflow: hidden;
}

.appList {
  @include scrollbar();

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden auto;

  :global {
    .generic-list {
      flex: 1;

      .list-item {
        max-height: 5em;
      }
    }
  }
}

.message,
.loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.message {
  font-size: 1.5em;
}

.loading {
  .loadingIcon {
    @include size(3em);
  }
}
